<!-- Title: appointment.html
  Author: Shay McKee
  Date: 10/1/2022
  Description: Appointment page of Pets-R-Us site -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- import header -->
    <header><%- include('./partials/header'); %></header>
        <!-- navbar -->
    <div id="navbar">
      <a href="./index.html">Home</a>
      <a href="./boarding.html">Boarding</a>
      <a href="./grooming.html">Grooming</a>
      <a href="./training.html">Training</a>
  </div>
    <!-- Schedule form  -->
    <section class="container signUpContainer">
      <div class="card">
        <h1 class="card-title"><%= cardTitle %></h1>
        <div class="card-content signUpContent">
          <div class="form">
            <form action="/schedule" method="post">

              <div class="form-field">
                <label for="userName" class="labelSignUp">User name</label
                ><br />
                <input
                  type="text"
                  class="inputSignUp"
                  name="userName"
                  id="userName"
                  required
                  autofocus
                />
              </div>

              <div class="form-field">
                <label for="firstName" class="labelSignUp">First name</label
                ><br />
                <input
                  type="text"
                  class="inputSignUp"
                  name="firstName"
                  id="firstName"
                  required
                  autofocus
                />
              </div>

              <div class="form-field">
                <label for="lastName" class="labelSignUp">Last name</label
                ><br />
                <input
                  type="text"
                  class="inputSignUp"
                  name="lastName"
                  id="lastName"
                  required
                  autofocus
                />
              </div>

              <div class="form-field">
                <label for="email" class="labelSignUp">Email</label><br />
                <input
                  type="text"
                  class="inputSignUp"
                  name="email"
                  id="email"
                  required
                  autofocus
                />
              </div>
                
              <div class="form-field">
                <label for="services" class="labelSignUp">Services</label><br />
                <select
                  name="services"
                  id="services"
                  class="drop-down-menu full-width inputSignUp"
                >
                  <% services.forEach((service) =>{ %>
                  <option value="<%= service.value%>">
                    <%= service.text %>
                  </option>
                  <% }) %>
                </select>
              </div>

              <div class="form-field">
                <input
                  type="submit"
                  value="Request appointment"
                  class="btn btn-primary full-width btnR"
                  style="margin-bottom: 100px"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  
    <section class="container signUpContainer" style="margin-bottom: 300px">
      <div class="card center-div">
    <!-- logged in user's name -->
      <ul style="text-align:left; padding-left: 20px;">
        <% if(currentUser) { %>
        <br />
        <li>User name:<%= currentUser %></li>   
        <% } %>
      </ul>
      
      <!--  -->
      <h1 class="card-title">Appointments List</h1>
            <% if(appointments.length > 0) { %>
          <table class="table">
            <tr>
              <th>User Name</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Service</th>
            </tr>
            <tbody>
              <% appointments.forEach(function(appointment) { %>
              <tr>
                <td><%= appointment.userName %></td>
                <td><%= appointment.firstName %></td>
                <td><%= appointment.lastName %></td>
                <td><%= appointment.email %></td>
                <td><%= appointment.services %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <% } %>
        
        </div>
      </div>
    </section>

    <footer class="footer"><%- include('./partials/footer'); %></footer>
  </body>
</html>