<!-- Title: grooming.html
  Author: Shay McKee
  Date: 09/04/2022
  Description: Grooming page of Pets-R-Us site.  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Pets-R-Us</title>
  </head>
  <body>
    <!-- import navbar and header -->
    <navbar><%- include('./partials/navbar'); %></navbar>
    <header><%- include('./partials/header'); %></header>

    <section>
      <h1 style="text-align: center">Grooming Service</h1>
      <p class="companyinfo">
        Lorem ipsum dolor sit amet quis dui ridiculus. Semper vulputate platea
        auctor quisque aliquam ipsum leo hac turpis per. Sollicitudin ante amet
        venenatis ridiculus consectetur finibus aenean viverra semper elit.
        Sodales curabitur taciti justo penatibus nunc sociosqu mi sollicitudin.
        Purus blandit est eu lobortis mauris lorem pulvinar. Vivamus integer dui
        ac curabitur himenaeos sem. Lorem ipsum dolor sit amet quis dui
        ridiculus. Semper vulputate platea auctor quisque aliquam ipsum leo hac
        turpis per. Sollicitudin ante amet venenatis ridiculus consectetur
        finibus aenean viverra semper elit. Sodales curabitur taciti justo
        penatibus nunc sociosqu mi sollicitudin. Purus blandit est eu lobortis
        mauris lorem pulvinar. Vivamus integer dui ac curabitur himenaeos sem.
      </p>
      <p id="groomBtn">
        <button class="groomButton">Schedule a service</button>
      </p>
    </section>

    <hr />
    <!-- pricing card -->
    <section>
      <div>
        <div class="card weekly-dog">
          <div class="card-title">Pricing</div>
          <div class="card-content">
            <img src="./images/test-dog.jpg" class="testDog" alt="" />
            <div class="groomPI">
              <p><strong>SPA Packages:</strong> $35-$85</p>
              <p><strong>Nail Trim:</strong> $15</p>
              <p><strong>Hair Cut:</strong> $35-105</p>
              <p><strong>Teeth Brushing:</strong> $15</p>
              <p>
                <strong>Customized grooming packages:</strong> Start from $100
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr />
    <!-- Customer Testimonials -->
    <section class="testimonials">
      <h1 style="text-align: center">Customer Testimonials</h1>

      <p class="quote">
        Lorem ipsum dolor sit amet quis dui ridiculus. Semper vulputate platea
        auctor quisque aliquam ipsum leo hac turpis per. Sollicitudin ante amet
        venenatis ridiculus consectetur finibus aenean viverra semper elit.
      </p>
      <p class="author">- Jenny Wong</p>
      <p class="quote">
        Lorem ipsum dolor sit amet quis dui ridiculus. Semper vulputate platea
        auctor quisque aliquam ipsum leo hac turpis per. Sollicitudin ante amet
        venenatis ridiculus consectetur finibus aenean viverra semper elit.
      </p>
      <p class="author">- Bill Lee</p>
      <p class="quote">
        Lorem ipsum dolor sit amet quis dui ridiculus. Semper vulputate platea
        auctor quisque aliquam ipsum leo hac turpis per. Sollicitudin ante amet
        venenatis ridiculus consectetur finibus aenean viverra semper elit.
      </p>
      <p class="author">- Tom Chen</p>
    </section>

    <footer class="footer"><%- include('./partials/footer'); %></footer>
  </body>
</html>