<!-- Title: Assignment 4.2 Pets-R-Us, Part 1
  Author: Shay McKee
  Date: 09/04/2022
  Description: Landing page of Pets-R-Us site -->

  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/public/styles/style.css" />
      <title>Pets-R-Us</title>
    </head>
    <body>
      
      <!-- header and navbar -->
      <header>
        <h1>Pets-R-Us</h1>
    </header>
    
    <div id="navbar">
        <a href="index.html">Home</a>
        <a href="boarding.html">Boarding</a>
        <a href="grooming.html">Grooming</a>
        <a href="training.html">Training</a>
    </div>
  
      <!-- Company info  -->
      <section>
        <h2 style="text-align: center">Company Information</h2>
        <p class="companyinfo">
          Pets-R-Us is an all inclusive pet store. We love all pets and have everything from food to training. We even offer overnight stays. We are commited to providing the best products and experience for you and your pet. If there is something you need and we do not carry it, let us know and we will get it in for you. 
        </p>
      </section>
  
      <div id="image-gallery">
        <div class="gallery-item">
  
            <figure>
                <img src="/public/images/background-img.jpg" alt="">
  
            </figure>
        </div>
        </div>
  
      <!-- pet services info -->
      <div id="container">
        <h1 style="text-align: center">Pet Services</h1>
        <div class="card">
          <h2 class="serviceTitle">Boarding</h2>
          <p>
            Services include grooming, training, and boarding. 
          </p>
                <p><button class="button">Schedule a service</button></p>
          </div>
        </div>
  
          <div class="column">
            <div class="card">
              <h2 class="serviceTitle">Grooming</h2>
              <div class="container">
                <p>
                  Weather your pet needs a nail trim or a full head-to-toe glam day, we got you! Book with us now.
                </p>
                <p><button class="button">Schedule a service</button></p>
              </div>
            </div>
          </div>
  
          <div class="column">
            <div class="card">
              <h2 class="serviceTitle">Training</h2>
              <div class="container">
                <p>
                  Does your puppy rule the house? Take back your home with boundaries, bonding, sits, lay downs, stay, come when called and the beginnings of loose leash walking. All on and off leash.
                </p>
                <p><button class="button">Schedule a service</button></p>
              </div>
            </div>
          </div>
  
      <hr />
      <!-- location info -->
      <section class="location">
        <ul class="grid locationGrid">
          <li>
            <div id="card-container">
              <div id="card">
                <div class="card-title">Location Hours</div>
                <div class="card-content">
                  <ul>
                    <li class="opentime">Mon 7:00 AM - 7:00 PM</li>
                    <li class="opentime">Tues 7:00 AM - 7:00 PM</li>
                    <li class="opentime">Wed 7:00 AM - 7:00 PM</li>
                    <li class="opentime">Thurs 7:00 AM - 7:00 PM</li>
                    <li class="opentime">Fri 7:00 AM - 7:00 PM</li>
                    <li class="opentime">Sat 10:00 AM - 5:00 PM</li>
                    <li class="opentime sunli">Sun 10:00 AM - 5:00 PM</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <!-- location info and contact form -->
          <li class="left-align">
            <p class="locationtbellevue">Location: Bellevue</p>
  
            <p class="address">1234 Capeheart; Bellevue, NE; 68123</p>
  
            <p class="contact">Contact Us</p>
            <p class="contact">Phone: 888-888-8888</p>
            <p class="contactp">
              Register your email to receive a 15% off when you first visit.
            </p>
  
            <form action="class=">
              <label for="Email" id="label">Email</label><br />
              <input type="text" id="email" value="" />
              <input type="submit" value="Submit" />
            </form>
          </li>
        </ul>
        <hr/>
  
        <!-- Dog of the Week info -->
        <div>
          <div class="card weekly-dog">
            <div class="card-content">
              <img src="/images/test-dog.jpg" class="testDog" alt="" />
              <div class="dogInfo font">Dog of the Week</div>
              <div class="dogInfo">
                <p><strong>Name:</strong> Lily</p>
                <p><strong>Age:</strong> 7 years old</p>
                <p><strong>Favorite treat:</strong> Peanutbutter</p>
                <p>
                  <strong>Most lovable quality:</strong> Love pets and kisses
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <hr/>
  
      <!-- Customer testimonials -->
      <section class="testimonials">
        <h2 style="text-align: center">Customer Testimonials</h2>
  
        <p class="quote">
          Sarah is the best trainer! Extremely professional, kind and loving to my Charles. He gets very excited when I tell him she is coming. Could not have a better trainer.
        </p>
        <p class="author">- Mellissa Meyer</p>
        <p class="quote">
          My dog and I have learned so much in just our first 2 weeks. Sarah is professional, reliable, and very knowledgeable! Hands-down, I recommend her to anyone! So thankful for her!
        </p>
        <p class="author">- Rachal Williams</p>
        <p class="quote">
          Sarah is a very knowledgeable and excellent trainer. She addresses each dog differently and designs the training for the specific dog.
        </p>
        <p class="author">- Matt Weber</p>
      </section>
  
      <p>&copy; Copyright Shay McKee</p>
  </body>
  </html>