<!-- Title: register.html
  Author: Shay McKee
  Date: 09/18/2022
  Description: Sign up page of Pets-R-Us site -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Pets-R-Us</title>
  </head>
     <!-- import navbar and header -->
     <navbar><%- include('./partials/navbar'); %></navbar>
     <header><%- include('./partials/header'); %></header>
  <body>
    <!-- sign up card with form -->
    <section class="container signUpContainer">
      <div class="card">
        <h1 style="text-align: center">Customer</h1>
        <div class="card-content signUpContent">
          <div class="form">
            <form action="/register" method="post">
              <div class="form-field">
                <label for="username" class="labelSignUp">User name</label
                ><br />
                <input
                  type="text"
                  class="inputSignUp"
                  name="username"
                  id="username"
                  required
                  autofocus
                />
              </div>

              <div class="form-field">
                <label for="email" class="labelSignUp">Email</label><br />
                <input
                  type="text"
                  class="inputSignUp"
                  name="email"
                  id="email"
                  required
                  autofocus
                />
              </div>

              <div class="form-field">
                <label for="password" class="labelSignUp">Password</label><br />
                <input
                  type="password"
                  class="inputSignUp"
                  name="password"
                  id="password"
                  required
                />
              </div>

              <div class="form-field">
                <input
                  type="submit"
                  value="Register"
                  class="btn btn-primary full-width btnR"
                  style="margin-bottom: 100px"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- display user list after user sign up  -->
    <section class="container signUpContainer" style="margin-bottom: 300px">
      <div class="card center-div">
        <h1 class="card-title">Customer List</h1>

        <div class="card-content signUpContent">
          <!-- loop over every user sign in with username, email, and createdAt -->
          <% if(users.length > 0) { %>
          <table class="table">
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Created at</th>
            </tr>
            <tbody>
              <% users.forEach(function(user) { %>
              <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= moment(user.createdAt).format('MM-DD-YYYY') %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h3>
            Customers have not been added to the MongoDB database. Try adding some!
          </h3>
          <% } %>
        </div>
      </div>
    </section>

    <footer class="footer"><%- include('./partials/footer'); %></footer>
  </body>
</html>